<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Adam's Website", "https://adamswebsite.me", class: "text-white" %> </small>
  </div>
</footer>